.courses{
    display: flex;
    gap: 1rem;
    width: 70vw;


}

.courseName{

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, lightcoral, orangered);

    color: white;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}