.courses{
    display: flex;
    gap: 1rem;
    width: 70vw;


}
.courses :hover{
    background-image: linear-gradient(to bottom right,   #b2d8d8,#66b2b2);
    transition: 0.5s;
    color: white;

}
.courses:hover button{

    background-image: none;
}

.courses button{
    border-radius: 5px;
    cursor: pointer;
    background-color: teal ;
    color: white;
    height: 30px;
    width: 130px;
}



.courseName :hover{
    background-image: none;
}

.courseName{
    display: flex;
    flex-direction: column;
    color: #008080;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background-color: ghostwhite;
    border: 1px solid teal;

}

.courses p{
    display: inline-block;
}
.coursebtn :hover{
    background-color: black;
    color: white
}